
@font-face {
    font-family: RalewayRegular;
    src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: colab;
    src: url(../fonts/ColabReg.otf);
}
@font-face {
    font-family: LeagueGothicRegular;
    src: url(../fonts/LeagueGothic-CondensedRegular.otf);
}
@font-face {
    font-family: Existencelight;
    src: url(../fonts/Existence-Light.otf);
}
@font-face {
    font-family: Ralewaymedium;
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: KaushanScriptRegular;
    src: url(../fonts/KaushanScript-Regular.otf);
}

@font-face {
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: AlexBrushRegular;
    src: url(../fonts/AlexBrush-Regular.ttf);
}

@font-face {
    font-family: INKITMT;
    src: url(../fonts/INKITMT_.otf);
}

@font-face {
    font-family: digital7;
    src: url(../fonts/digital-7.ttf);
}
