@import "variables/variables-colors";
@import "variables/variables-fonts";
@import "variables/variables-default";
@import "variables/variables-templates";







/*1-stop variables
$default-font-color:$green-light;
$main-background: lighten($cyan,30%);
$font-size-logo:25px;
$nav-bar-left:25px;
*/
/*
$default-text-color: $black !default;
*/
