@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
  font-family: colab;
  src: url(../fonts/ColabReg.otf);
}
@font-face {
  font-family: LeagueGothicRegular;
  src: url(../fonts/LeagueGothic-CondensedRegular.otf);
}
@font-face {
  font-family: Existencelight;
  src: url(../fonts/Existence-Light.otf);
}
@font-face {
  font-family: Ralewaymedium;
  src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
  font-family: KaushanScriptRegular;
  src: url(../fonts/KaushanScript-Regular.otf);
}
@font-face {
  font-family: OpenSansRegular;
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: AlexBrushRegular;
  src: url(../fonts/AlexBrush-Regular.ttf);
}
@font-face {
  font-family: INKITMT;
  src: url(../fonts/INKITMT_.otf);
}
@font-face {
  font-family: digital7;
  src: url(../fonts/digital-7.ttf);
}
/*-buttons modes-*/
/*1-stop variables
$default-font-color:$green-light;
$main-background: lighten($cyan,30%);
$font-size-logo:25px;
$nav-bar-left:25px;
*/
/*
$default-text-color: $black !default;
*/
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
/* line 106, ../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 50, ../sass/partials/vlpllandingpage/_normalize.scss */
html {
  font-family: arial, sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 62, ../sass/partials/vlpllandingpage/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 76, ../sass/partials/vlpllandingpage/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 97, ../sass/partials/vlpllandingpage/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 116, ../sass/partials/vlpllandingpage/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 126, ../sass/partials/vlpllandingpage/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 135, ../sass/partials/vlpllandingpage/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 147, ../sass/partials/vlpllandingpage/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 156, ../sass/partials/vlpllandingpage/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 168, ../sass/partials/vlpllandingpage/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 176, ../sass/partials/vlpllandingpage/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 186, ../sass/partials/vlpllandingpage/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 195, ../sass/partials/vlpllandingpage/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 204, ../sass/partials/vlpllandingpage/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 219, ../sass/partials/vlpllandingpage/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 225, ../sass/partials/vlpllandingpage/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 231, ../sass/partials/vlpllandingpage/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 237, ../sass/partials/vlpllandingpage/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 243, ../sass/partials/vlpllandingpage/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 255, ../sass/partials/vlpllandingpage/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 266, ../sass/partials/vlpllandingpage/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 276, ../sass/partials/vlpllandingpage/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 284, ../sass/partials/vlpllandingpage/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 292, ../sass/partials/vlpllandingpage/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 296, ../sass/partials/vlpllandingpage/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 308, ../sass/partials/vlpllandingpage/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 329, ../sass/partials/vlpllandingpage/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 337, ../sass/partials/vlpllandingpage/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 349, ../sass/partials/vlpllandingpage/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 364, ../sass/partials/vlpllandingpage/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 377, ../sass/partials/vlpllandingpage/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 389, ../sass/partials/vlpllandingpage/_normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 398, ../sass/partials/vlpllandingpage/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 407, ../sass/partials/vlpllandingpage/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 415, ../sass/partials/vlpllandingpage/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 439, ../sass/partials/vlpllandingpage/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 453, ../sass/partials/vlpllandingpage/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: arial, sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 471, ../sass/partials/vlpllandingpage/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 482, ../sass/partials/vlpllandingpage/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 497, ../sass/partials/vlpllandingpage/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 512, ../sass/partials/vlpllandingpage/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 521, ../sass/partials/vlpllandingpage/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 532, ../sass/partials/vlpllandingpage/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 547, ../sass/partials/vlpllandingpage/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 564, ../sass/partials/vlpllandingpage/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 575, ../sass/partials/vlpllandingpage/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 585, ../sass/partials/vlpllandingpage/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 595, ../sass/partials/vlpllandingpage/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 611, ../sass/partials/vlpllandingpage/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 625, ../sass/partials/vlpllandingpage/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 634, ../sass/partials/vlpllandingpage/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 645, ../sass/partials/vlpllandingpage/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 650, ../sass/partials/vlpllandingpage/_normalize.scss */
td,
th {
  padding: 0;
}

/* line 654, ../sass/partials/vlpllandingpage/_normalize.scss */
::selection {
  background: #2b2c41;
}

/*    usage
p {
  @include font-size(14px)
}
*/
/*      usage
.foo {
  @include screen(large) {
    width: 20%;
  }
  @include screen(med) {
    width: 40%;
  }
  @include screen(med-small) {
    width: 60%;
  }
  @include screen(small) {
    width: 80%;
  }
  @include screen(custom, max, 400) {
    width: 100%;
  }
}
*/
/*      usage
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
/*      usage
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
*/
/*      usage
.faded-text {
  @include opacity(0.8);
}
*/
/*      usage
.container-with-floated-children {
  @extend %clearfix;
}
*/
/*      usage
.foo {
  @include center(both);
}
.foo-parent {
  position: relative;
}
*/
/*      usage
.foo .bar {
  @include fade(hide);
}
.foo:hover .bar {
  @include fade(show);
}
*/
/*      usage

*/
/*      usage

*/
/*      usage

*/
/*      usage

*/
/*      usage
div{
@include flat-button(#000,#fff,10px);
}
*/
/*      usage

*/
/*      usage

*/
/* line 1, ../sass/partials/vlpllandingpage/_base.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: #808080;
  line-height: 1em;
}

/* line 10, ../sass/partials/vlpllandingpage/_base.scss */
#wrapper {
  background: #FFFFFF;
  margin: 0 auto;
  max-width: 800px;
}

/* line 20, ../sass/partials/vlpllandingpage/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../sass/partials/vlpllandingpage/_base.scss */
article p a {
  color: #0000FF;
}
/* line 28, ../sass/partials/vlpllandingpage/_base.scss */
article p a:hover, article p a:focus {
  color: #001A57;
}
/* line 31, ../sass/partials/vlpllandingpage/_base.scss */
article p a:visited {
  color: #6699CC;
}

/* line 7, ../sass/partials/vlpllandingpage/_navigation.scss */
nav {
  z-index: 11;
  margin: 0px;
}

/* line 11, ../sass/partials/vlpllandingpage/_navigation.scss */
.company-info-container {
  padding: 0;
  margin: 0;
  position: relative;
  margin: 0px auto;
  width: 80%;
  height: 100px;
  padding-top: 10px;
  margin-bottom: 10px;
}

/* line 23, ../sass/partials/vlpllandingpage/_navigation.scss */
.company-logo {
  background-image: url("../images/VLPL logo.png");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 300px;
  height: 80px;
}

/* line 33, ../sass/partials/vlpllandingpage/_navigation.scss */
.help-menu {
  position: relative;
  float: right;
  width: 65%;
  height: 80px;
  padding-top: 17px;
  padding-right: 20px;
}
/* line 41, ../sass/partials/vlpllandingpage/_navigation.scss */
.help-menu div {
  text-transform: uppercase;
  font-family: "RalewayRegular", sans-serif;
  font-size: 13px;
  color: #fff;
  float: right;
  color: #808080;
}
/* line 48, ../sass/partials/vlpllandingpage/_navigation.scss */
.help-menu div span:hover {
  cursor: pointer !important;
  color: #404040;
}

/* line 54, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  z-index: 11;
  margin: 0px auto;
  width: 80%;
}

/* line 65, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul li {
  position: relative;
  display: inline-block;
  background-color: #b9baba;
  width: 13%;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 77, ../sass/partials/vlpllandingpage/_navigation.scss */
nav a {
  display: block;
  color: #FFF;
  font-size: 13px;
  font-family: "RalewayRegular", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}

/* line 86, ../sass/partials/vlpllandingpage/_navigation.scss */
nav li:hover {
  background-color: #999999;
}

/* Hide Dropdowns by Default */
/* line 91, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul ul {
  display: none;
  position: absolute;
  margin: 0px;
  left: 0px;
  top: 25px;
  /* the height of the main nav */
  width: 200px;
  height: 270px;
  background-color: #999999;
  padding-top: 10px;
}

/* Display Dropdowns on Hover */
/* line 104, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul li:hover > ul {
  display: inherit;
}

/* Fisrt Tier Dropdown */
/* line 109, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul ul li {
  font-family: "RalewayRegular", sans-serif;
  background-color: #999999;
  width: 110px;
  height: auto;
  float: left;
  text-align: left;
  display: list-item;
  position: relative;
  border-bottom: 1px solid #fff;
  margin-left: 20px;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 123, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul ul li span {
  color: #fff;
  font-size: 12px;
  padding: 0px;
}
/* line 129, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul ul li span:hover {
  color: #7c9e56;
  cursor: pointer;
}
/* line 133, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul ul li h4 {
  padding: 0px;
  padding-top: 5px;
  margin: 0px;
}
/* line 138, ../sass/partials/vlpllandingpage/_navigation.scss */
nav ul ul li h4 a {
  position: relative;
  line-height: 7px;
  padding: 0px;
  margin: 0px;
  color: #d4d4d4;
  font-size: 8px;
}

/* line 147, ../sass/partials/vlpllandingpage/_navigation.scss */
.no-border {
  border: none;
}

/* Change this in order to change the Dropdown symbol */
/* line 152, ../sass/partials/vlpllandingpage/_navigation.scss */
li > a:after {
  content: '';
}

/* line 155, ../sass/partials/vlpllandingpage/_navigation.scss */
li > a:only-child:after {
  content: '';
}

/* line 159, ../sass/partials/vlpllandingpage/_navigation.scss */
.search-container {
  background-color: #fff;
  width: 18.5%;
  padding-left: 0px;
}
/* line 163, ../sass/partials/vlpllandingpage/_navigation.scss */
.search-container input[type=text] {
  text-align: right;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px;
  font-family: "RalewayRegular", sans-serif;
  font-size: 13px;
  color: #fff !important;
  background-color: lightgray;
  background-image: url("../images/searchicon.png");
  background-size: 15px 15px;
  background-position: 10px 6px;
  background-repeat: no-repeat;
}
/* line 184, ../sass/partials/vlpllandingpage/_navigation.scss */
.search-container ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  font-size: 13px;
}
/* line 188, ../sass/partials/vlpllandingpage/_navigation.scss */
.search-container ::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
  font-size: 13px;
}
/* line 192, ../sass/partials/vlpllandingpage/_navigation.scss */
.search-container :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  font-size: 13px;
}
/* line 196, ../sass/partials/vlpllandingpage/_navigation.scss */
.search-container :-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
  font-size: 13px;
}

/* line 201, ../sass/partials/vlpllandingpage/_navigation.scss */
.search-container:hover {
  background-color: #fff;
}

/* line 1, ../sass/partials/vlpllandingpage/_footer.scss */
footer {
  background-color: #333333;
  position: relative;
  height: 430px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  margin: 0px auto;
}

/* line 10, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-container {
  position: relative;
  margin: 0px auto;
  width: 80%;
  height: inherit;
  padding-left: 20px;
}

/* line 20, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-top .company-info-container {
  width: 100%;
  border-bottom: 1px solid #515151;
}
/* line 22, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-top .company-info-container .company-logo {
  background-image: url("../images/footercompanylogo.png");
}
/* line 25, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-top .company-info-container .help-menu {
  padding-top: 40px;
}
/* line 27, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-top .company-info-container .help-menu div {
  color: #515151;
  text-transform: none;
}
/* line 30, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-top .company-info-container .help-menu div :hover {
  color: #fff;
}

/* line 39, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle {
  width: 100%;
  height: 230px;
}
/* line 42, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-module {
  width: 20%;
  height: inherit;
  float: left;
  border-bottom: 1px solid #515151;
}
/* line 50, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-newsletter, .footer-middle .footer-about-us, .footer-middle .footer-services, .footer-middle .footer-company, .footer-middle .footer-mashup {
  padding-top: 20px;
  padding-left: 20px;
}
/* line 53, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-newsletter h3, .footer-middle .footer-about-us h3, .footer-middle .footer-services h3, .footer-middle .footer-company h3, .footer-middle .footer-mashup h3 {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-family: "RalewayRegular", sans-serif;
  font-weight: 100;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 63, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-newsletter li, .footer-middle .footer-about-us li, .footer-middle .footer-services li, .footer-middle .footer-company li, .footer-middle .footer-mashup li {
  list-style: none;
  font-weight: 100;
  font-size: 12px;
  line-height: 15px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
  font-family: "RalewayRegular", sans-serif;
  color: #999999;
}
/* line 75, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-newsletter li:hover, .footer-middle .footer-about-us li:hover, .footer-middle .footer-services li:hover, .footer-middle .footer-company li:hover, .footer-middle .footer-mashup li:hover {
  color: #7c9e56;
  cursor: pointer;
}
/* line 79, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-newsletter input[type=text], .footer-middle .footer-about-us input[type=text], .footer-middle .footer-services input[type=text], .footer-middle .footer-company input[type=text], .footer-middle .footer-mashup input[type=text] {
  width: 70%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 3px;
  padding-right: 7px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px;
  font-family: "RalewayRegular", sans-serif;
  font-size: 10px;
  color: #fff;
  background-color: #5a5a5a;
  float: left;
  margin-bottom: 5px;
}
/* line 95, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-newsletter .button-input-submit, .footer-middle .footer-about-us .button-input-submit, .footer-middle .footer-services .button-input-submit, .footer-middle .footer-company .button-input-submit, .footer-middle .footer-mashup .button-input-submit {
  background-color: #636363;
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 7px;
  padding-bottom: 1px;
  margin-bottom: 10px;
  color: #989898;
  float: left;
}
/* line 104, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-newsletter .button-input-submit :hover, .footer-middle .footer-about-us .button-input-submit :hover, .footer-middle .footer-services .button-input-submit :hover, .footer-middle .footer-company .button-input-submit :hover, .footer-middle .footer-mashup .button-input-submit :hover {
  cursor: pointer;
}
/* line 110, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup {
  padding-top: 20px;
  padding-left: 20px;
}
/* line 113, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup .search {
  text-align: right;
  width: 200%;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 30px;
  padding-right: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px;
  font-family: "RalewayRegular", sans-serif;
  font-size: 13px;
  color: #fff !important;
  background-color: lightgray;
  background-image: url("../images/searchicon.png");
  background-size: 10px 10px;
  background-position: 5px 4px;
  background-repeat: no-repeat;
}
/* line 132, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup h3 {
  margin-top: 40px;
  font-size: 12px;
  font-family: "RalewayRegular", sans-serif;
  font-weight: 900;
  color: #999999;
  text-transform: lowercase;
  margin-bottom: 10px;
}
/* line 141, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup .location-icon {
  font-size: 20px;
  color: #fff;
  position: absolute;
  margin-top: -32px;
  margin-left: 130px;
}
/* line 148, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup .social-icon-container {
  margin-top: 60px;
  width: 200px;
  height: 30px;
}
/* line 152, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup .social-icon-container div {
  width: 25px;
  height: 25px;
  background-color: #666666;
  float: left;
  margin-right: 12px;
  padding-top: 4px;
}
/* line 160, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup .social-icon-container i {
  padding-left: 7px;
  color: #333333;
}
/* line 164, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup .social-icon-container li {
  margin-top: 10px;
  margin-right: 25px;
  font-size: 11px;
  float: right;
}
/* line 170, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup .social-icon-container .youtube-icon-fix {
  padding-left: 5px;
}
/* line 173, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle .footer-mashup .social-icon-container .facebook-icon-fix {
  padding-left: 10px;
}
/* line 178, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cccccc;
  font-size: 10px;
}
/* line 182, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle ::-moz-placeholder {
  /* Firefox 19+ */
  color: #999999;
  font-size: 10px;
}
/* line 186, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle :-ms-input-placeholder {
  /* IE 10+ */
  color: #999999;
  font-size: 10px;
}
/* line 190, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-middle :-moz-placeholder {
  /* Firefox 18- */
  color: #999999;
  font-size: 10px;
}

/* line 197, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-bottom {
  padding: 0;
  margin: 0;
  position: relative;
  margin: 0px auto;
  width: 100%;
  height: 70px;
  padding-top: 10px;
  margin-bottom: 10px;
}
/* line 208, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-bottom .important-links {
  position: relative;
  float: right;
  width: 100%;
  height: 80px;
  padding-top: 17px;
  padding-right: 20px;
}
/* line 216, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-bottom .important-links .copyright-info {
  position: relative;
  float: left;
}
/* line 220, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-bottom .important-links div {
  text-transform: uppercase;
  font-family: "RalewayRegular", sans-serif;
  font-size: 13px;
  float: right;
  color: #515151;
  text-transform: none;
}
/* line 227, ../sass/partials/vlpllandingpage/_footer.scss */
.footer-bottom .important-links div :hover {
  cursor: pointer !important;
  color: #fff;
}

/* line 15, ../sass/vlpllandingpage.scss */
body {
  background-color: #fff;
  cursor: default !important;
}

/* line 20, ../sass/vlpllandingpage.scss */
body {
  overflow-x: hidden;
}

/* line 23, ../sass/vlpllandingpage.scss */
.main-section {
  z-index: 10;
  position: relative;
  width: 80%;
  margin: 0px;
  padding: 0px;
  margin: 0px auto;
}
@media screen and (max-width: 4000px) and (min-width: 1025px) {
  /* line 23, ../sass/vlpllandingpage.scss */
  .main-section {
    height: 1100px;
  }
}
@media screen and (max-width: 1024px) {
  /* line 23, ../sass/vlpllandingpage.scss */
  .main-section {
    height: 2600px;
  }
}

/* line 38, ../sass/vlpllandingpage.scss */
.module {
  padding: 0px;
  margin: 0px;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-family: "RalewayRegular", sans-serif;
  background-color: #e6e6e6;
  height: 250px;
}
@media screen and (max-width: 4000px) and (min-width: 1025px) {
  /* line 38, ../sass/vlpllandingpage.scss */
  .module {
    width: 32%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 38, ../sass/vlpllandingpage.scss */
  .module {
    width: 98%;
  }
}


/* line 38, ../sass/vlpllandingpage.scss */
.module_manage {
  padding: 30px;
  padding-bottom:100px;
  margin: 0px;
  position: relative;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-family: "RalewayRegular", sans-serif;
  background-color: #e6e6e6;
  
}
@media screen and (max-width: 4000px) and (min-width: 1025px) {
  /* line 38, ../sass/vlpllandingpage.scss */
  .module_manage {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 38, ../sass/vlpllandingpage.scss */
  .module_manage {
    width: 98%;
  }
}


/* line 58, ../sass/vlpllandingpage.scss */
.slide-text {
  background-color: #7c9e56;
  overflow: hidden;
}
/* line 61, ../sass/vlpllandingpage.scss */
.slide-text .text-container {
  position: relative;
  height: inherit;
  width: 400%;
  left: 0px;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
}
/* line 70, ../sass/vlpllandingpage.scss */
.slide-text .text-container div {
  position: relative;
  width: 25%;
  height: inherit;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 78, ../sass/vlpllandingpage.scss */
.slide-text .text-container div h1 {
  z-index: 15 !important;
  color: #fff;
  text-align: left;
  position: absolute;
  left: 20px;
  top: 50px;
  width: 80%;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  text-transform: capitalize;
}
/* line 105, ../sass/vlpllandingpage.scss */
.slide-text .circle-container {
  position: absolute;
  bottom: 50px;
  left: 20px;
  width: 100px;
  z-index: 20;
}
/* line 111, ../sass/vlpllandingpage.scss */
.slide-text .circle-container .circle {
  opacity: 0.3;
  color: #fff;
  margin-left: 7px;
  float: left;
  font-size: 12px;
}
/* line 119, ../sass/vlpllandingpage.scss */
.slide-text #circle1-1 {
  opacity: 0.8;
}

/* line 124, ../sass/vlpllandingpage.scss */
.slide-image {
  overflow: hidden;
}
@media screen and (max-width: 4000px) and (min-width: 1025px) {
  /* line 124, ../sass/vlpllandingpage.scss */
  .slide-image {
    width: 65%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 124, ../sass/vlpllandingpage.scss */
  .slide-image {
    width: 98%;
  }
}
/* line 132, ../sass/vlpllandingpage.scss */
.slide-image .grey {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: black;
  z-index: 12;
}
/* line 140, ../sass/vlpllandingpage.scss */
.slide-image .image-container {
  position: relative;
  height: inherit;
  width: 400%;
  left: 0px;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
}
/* line 151, ../sass/vlpllandingpage.scss */
.slide-image .image-container div {
  position: relative;
  width: 25%;
  height: inherit;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 159, ../sass/vlpllandingpage.scss */
.slide-image .image-container div h1 {
  z-index: 15 !important;
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 100;
  text-align: right;
}
/* line 171, ../sass/vlpllandingpage.scss */
.slide-image .image-container #slide-1 {
  background-image: url("../images/slide-1.jpg");
}
/* line 174, ../sass/vlpllandingpage.scss */
.slide-image .image-container #slide-2 {
  background-image: url("../images/slide-2.jpg");
}
/* line 177, ../sass/vlpllandingpage.scss */
.slide-image .image-container #slide-3 {
  background-image: url("../images/slide-3.jpg");
}
/* line 180, ../sass/vlpllandingpage.scss */
.slide-image .image-container #slide-4 {
  background-image: url("../images/slide-4.jpg");
}
/* line 184, ../sass/vlpllandingpage.scss */
.slide-image .circle-container {
  position: absolute;
  bottom: 10px;
  right: 20px;
  width: 100px;
  z-index: 20;
}
/* line 190, ../sass/vlpllandingpage.scss */
.slide-image .circle-container .circle {
  opacity: 0.3;
  color: #fff;
  margin-left: 7px;
  float: left;
  font-size: 12px;
}
/* line 199, ../sass/vlpllandingpage.scss */
.slide-image .image-container {
  position: relative;
  height: inherit;
  width: 400%;
  left: 0px;
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -o-transition: 2s;
}
/* line 210, ../sass/vlpllandingpage.scss */
.slide-image .image-container div {
  position: relative;
  width: 25%;
  height: inherit;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 218, ../sass/vlpllandingpage.scss */
.slide-image .image-container div h1 {
  z-index: 15 !important;
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 100;
  text-align: right;
}
/* line 230, ../sass/vlpllandingpage.scss */
.slide-image .image-container #slide-1 {
  background-image: url("../images/slide-1.jpg");
}
/* line 233, ../sass/vlpllandingpage.scss */
.slide-image .image-container #slide-2 {
  background-image: url("../images/slide-2.jpg");
}
/* line 236, ../sass/vlpllandingpage.scss */
.slide-image .image-container #slide-3 {
  background-image: url("../images/slide-3.jpg");
}
/* line 239, ../sass/vlpllandingpage.scss */
.slide-image .image-container #slide-4 {
  background-image: url("../images/slide-4.jpg");
}
/* line 243, ../sass/vlpllandingpage.scss */
.slide-image #circle2-1 {
  opacity: 0.8;
}

/* line 248, ../sass/vlpllandingpage.scss */
.about-us, .service, .track-shipment, .feedback, .partners {
  padding-top: 40px;
  padding-left: 50px;
}
/* line 251, ../sass/vlpllandingpage.scss */
.about-us h2, .service h2, .track-shipment h2, .feedback h2, .partners h2 {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-family: "RalewayRegular", sans-serif;
  font-weight: 100;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 261, ../sass/vlpllandingpage.scss */
.about-us p, .service p, .track-shipment p, .feedback p, .partners p {
  width: 80%;
  font-weight: 100;
  font-size: 10px;
  line-height: 15px;
  padding: 0px;
  margin: 0px;
  font-family: "RalewayRegular", sans-serif;
  color: #666666;
}
/* line 271, ../sass/vlpllandingpage.scss */
.about-us li, .service li, .track-shipment li, .feedback li, .partners li {
  list-style: disc;
  font-weight: 100;
  font-size: 10px;
  line-height: 15px;
  padding: 0px;
  margin: 0px;
  margin-bottom: 10px;
  font-family: "RalewayRegular", sans-serif;
  color: #666666;
}
/* line 282, ../sass/vlpllandingpage.scss */
.about-us input[type=text], .service input[type=text], .track-shipment input[type=text], .feedback input[type=text], .partners input[type=text] {
  width: 70%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 3px;
  padding-right: 7px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px;
  font-family: "RalewayRegular", sans-serif;
  font-size: 10px;
  color: #666666;
  background-color: #ededed;
  float: left;
  margin-bottom: 5px;
}
/* line 298, ../sass/vlpllandingpage.scss */
.about-us textarea, .service textarea, .track-shipment textarea, .feedback textarea, .partners textarea {
  resize: none;
  width: 70%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 3px;
  padding-right: 7px;
  box-sizing: border-box;
  border: none;
  border-radius: 0px;
  font-family: "RalewayRegular", sans-serif;
  font-size: 10px;
  color: #666666;
  background-color: #ededed;
  float: left;
  margin-bottom: 5px;
}
/* line 315, ../sass/vlpllandingpage.scss */
.about-us .button-input-submit, .service .button-input-submit, .track-shipment .button-input-submit, .feedback .button-input-submit, .partners .button-input-submit {
  background-color: #7c9e56;
  padding-top: 1px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 3px;
  color: #fff;
  float: left;
}
/* line 323, ../sass/vlpllandingpage.scss */
.about-us .button-input-submit :hover, .service .button-input-submit :hover, .track-shipment .button-input-submit :hover, .feedback .button-input-submit :hover, .partners .button-input-submit :hover {
  cursor: pointer;
}
/* line 327, ../sass/vlpllandingpage.scss */
.about-us ::-webkit-input-placeholder, .service ::-webkit-input-placeholder, .track-shipment ::-webkit-input-placeholder, .feedback ::-webkit-input-placeholder, .partners ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #666666;
  font-size: 10px;
}
/* line 331, ../sass/vlpllandingpage.scss */
.about-us ::-moz-placeholder, .service ::-moz-placeholder, .track-shipment ::-moz-placeholder, .feedback ::-moz-placeholder, .partners ::-moz-placeholder {
  /* Firefox 19+ */
  color: #666666;
  font-size: 10px;
}
/* line 335, ../sass/vlpllandingpage.scss */
.about-us :-ms-input-placeholder, .service :-ms-input-placeholder, .track-shipment :-ms-input-placeholder, .feedback :-ms-input-placeholder, .partners :-ms-input-placeholder {
  /* IE 10+ */
  color: #666666;
  font-size: 10px;
}
/* line 339, ../sass/vlpllandingpage.scss */
.about-us :-moz-placeholder, .service :-moz-placeholder, .track-shipment :-moz-placeholder, .feedback :-moz-placeholder, .partners :-moz-placeholder {
  /* Firefox 18- */
  color: #666666;
  font-size: 10px;
}
/* line 343, ../sass/vlpllandingpage.scss */
.about-us #partners-1, .about-us #partners-2, .about-us #partners-3, .service #partners-1, .service #partners-2, .service #partners-3, .track-shipment #partners-1, .track-shipment #partners-2, .track-shipment #partners-3, .feedback #partners-1, .feedback #partners-2, .feedback #partners-3, .partners #partners-1, .partners #partners-2, .partners #partners-3 {
  height: 100px;
  float: left;
  position: relative;
  margin-top: 20px;
  margin-right: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 4000px) and (min-width: 1025px) {
  /* line 343, ../sass/vlpllandingpage.scss */
  .about-us #partners-1, .about-us #partners-2, .about-us #partners-3, .service #partners-1, .service #partners-2, .service #partners-3, .track-shipment #partners-1, .track-shipment #partners-2, .track-shipment #partners-3, .feedback #partners-1, .feedback #partners-2, .feedback #partners-3, .partners #partners-1, .partners #partners-2, .partners #partners-3 {
    width: 28%;
  }
}
/* line 357, ../sass/vlpllandingpage.scss */
.about-us #partners-1, .service #partners-1, .track-shipment #partners-1, .feedback #partners-1, .partners #partners-1 {
  background-image: url("../images/partners-1.png");
}
/* line 360, ../sass/vlpllandingpage.scss */
.about-us #partners-2, .service #partners-2, .track-shipment #partners-2, .feedback #partners-2, .partners #partners-2 {
  background-image: url("../images/partners-2.png");
}
/* line 363, ../sass/vlpllandingpage.scss */
.about-us #partners-3, .service #partners-3, .track-shipment #partners-3, .feedback #partners-3, .partners #partners-3 {
  background-image: url("../images/partners-3.png");
}

/* line 368, ../sass/vlpllandingpage.scss */
.feedback .button-input-submit {
  float: none;
  margin-top: 130px;
  width: 50px;
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 7px;
  padding-bottom: 5px;
  font-size: 10px;
  color: #fff;
}

/* line 381, ../sass/vlpllandingpage.scss */
.location {
  padding-top: 40px;
  padding-left: 50px;
}
@media screen and (max-width: 4000px) and (min-width: 1025px) {
  /* line 381, ../sass/vlpllandingpage.scss */
  .location {
    width: 65%;
  }
}
@media screen and (max-width: 1024px) {
  /* line 381, ../sass/vlpllandingpage.scss */
  .location {
    width: 98%;
  }
}
/* line 390, ../sass/vlpllandingpage.scss */
.location iframe {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: inherit;
  z-index: 2;
}
/* line 398, ../sass/vlpllandingpage.scss */
.location h2 {
  line-height: 25px;
  position: relative;
  z-index: 7;
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-family: "RalewayRegular", sans-serif;
  font-weight: 900;
  color: #666666;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 411, ../sass/vlpllandingpage.scss */
.location input[type=text] {
  position: relative;
  z-index: 7;
  width: 30%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 7px;
  padding-right: 7px;
  box-sizing: border-box;
  border: none;
  font-weight: 900;
  border-radius: 0px;
  font-family: "RalewayRegular", sans-serif;
  font-size: 11px;
  color: #666666;
  background-color: #ededed;
  float: left;
  margin-bottom: 5px;
  opacity: 0.8;
}

/* line 432, ../sass/vlpllandingpage.scss */
.partners {
  width: 98%;
}

/* line 439, ../sass/vlpllandingpage.scss */
.active {
  background-color: #7c9e56;
}
